html,
body,
#__next {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: initial;
}

body,
#__next {
  @apply bg-noir font-sans text-lotion;
}

body {
  /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* hide scrollbar */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
