html,
body,
#__next {
  @apply font-sans;
  width: 100%;
  min-height: 100%;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: initial;
}
